[SERVER]
api_v = 1.0.0b
debug = yes
allow_registration = yes
PORT = 80
HOST = 0.0.0.0
# Represents time (minutes)
# until user will be cleaned from cache
ticks_to_kill = 10
#TODO: change to asyncio_chat when releasing
database_name = chat_app
mongo_conn_string = mongodb://localhost:27017

[TEST]
login = exmaple_login
password = example_password
second_login = exmaple_login2
second_password = exmaple_login2