Alembic~=1.7.1
sqlalchemy[mypy]~=1.4.2
ConfigFramework~=2.2.2
asyncpg~=0.24.0
psycopg2~=2.9.1
python-rapidjson~=1.4
pathvalidate~=2.4.1
Pillow>=8.3.2
fastapi[all]~=0.68.1
apispec~=5.1.0
pydantic~=1.8.2
uvicorn~=0.15.0
starlette-csrf~=1.2.1
pyjwt~=2.1.0
aiofiles~=0.7.0
sequential-uuids~=1.0.0
